:root {
    --bk-blue: #a3d1e0;
    --txt-color: #1A3E7E;
    /* https://piktochart.com/tips/fantasy-color-palette
    color palette nr.10 */
}

body {
    background-color: var(--bk-blue);
    color: var(--txt-color);
    min-height: 90vh;
    padding: 0;
}

/* ------ Grid style ------ */
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "characters areas"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: var(--txt-color);
  padding: 5px;
  margin: 0;
}
.container div {
  background-color: var(--bk-blue);
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.characters {
  grid-area: characters;
  min-height: 70vh;
}
.container div.areas {
  grid-area: areas;
  min-height: 70vh;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}

/* ------ Buttons ------ */

.btn{
    font-size: 18px;
    border: 3px solid var(--txt-color);
    border-radius: 10px;
    background-color: var(--bk-blue);
    color: var(--txt-color);
    padding: 5px;
}