:root{
    --bk-blue: #a3d1e0;
    --txt-color: #1A3E7E;
    /* https://piktochart.com/tips/fantasy-color-palette
    color palette nr.10 */
}

body{
    background-color: var(--bk-blue);
    color: var(--txt-color);
    min-height: 90vh;
}

.container{
    display: grid;
}