:root {
    --bk-blue: #a3d1e0;
    --txt-color: #1A3E7E;
    --active-bk: #add8e6;
    --active-txt: #483d8b;
    --remove-color: #f82650;
    --active-remove: #dc143c;
    --white-txt: #ffeeff;
}

::-webkit-scrollbar {
    background-color: var(--txt-color);
    width: 7px;

}

::-webkit-scrollbar-thumb {
    background-color: var(--active-bk);
    border-radius: 5px;
    border: 1px solid var(--txt-color);
}

body {
    background-color: var(--bk-blue);
    color: var(--txt-color);
    min-height: 90vh;
    padding: 0;
    font-family: "Eagle Lake", serif;
}

/* ------ Grid style ------ */
.container {
    display: grid;
    grid-template-areas:
        "header header"
        "characters areas"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    background-color: var(--txt-color);
    padding: 5px;
    margin: 0;
}

.container div {
    background-color: var(--bk-blue);
    padding: 10px;
}

.container div.header {
    grid-area: header;
    text-align: center;
}

.container div.characters {
    grid-area: characters;
    min-height: 70vh;
}

.container div.areas {
    grid-area: areas;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div.footer {
    grid-area: footer;
    text-align: center;
}

.container div.health-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.top-buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;

}

/* ------ Buttons ------ */

.btn {
    font-size: 18px;
    border: 3px solid var(--txt-color);
    border-radius: 10px;
    background-color: var(--bk-blue);
    color: var(--txt-color);
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

.btn:active {
    background-color: var(--active-bk);
    border: 3px solid var(--active-txt);
    color: var(--active-txt);
}

.removeBtn {
    background-color: var(--remove-color);
    color: var(--white-txt);
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.removeBtn:active {
    background-color: var(--active-remove);
}

.active {
    background-color: var(--active-bk);
    border: 3px solid var(--active-txt);
    color: var(--active-txt);
}

/* ------ Characters side ------ */
.characters {
    max-height: 70vh;
    overflow-y: scroll;
}

/* ------ Player cards ------ */

.newPlayer {
    border: 3px solid var(--txt-color);
    border-radius: 15px;
    box-shadow: 10px 10px 10px var(--txt-color);
    margin: 25px;

    & h3 {
        margin: 2px;
    }

    & h4 {
        margin: 2px;
    }
}

.optionsDropdown{
    border: 3px solid var(--txt-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--active-bk);
    border-radius: 10px;
}

.btnSend {
    border: 3px solid var(--txt-color);
    border-radius: 10px;
    background-color: var(--bk-blue);
    color: var(--txt-color);
    font-family: "Roboto", sans-serif;
    margin: 5px;
}


.btnSend:active {
    background-color: var(--active-bk);
    border: 3px solid var(--active-txt);
    color: var(--active-txt);
}

/* --------- Ultimate attacks --------- */

.ultimateAttText{
    cursor: pointer;
    user-select: none
}


/* --------- Snackbar --------- */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--bk-blue);
  color: var(--txt-color);
  border: 5px solid var(--txt-color);
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* --------- Area Container --------- */

.area-container{
    border: 3px solid var(--txt-color);
    width: 90%;
    height: 90%;
    overflow-y: scroll;
}

.scene-title{
    text-align: center;
}

.sceneBtn{
    width: 150px;
}

.sceneBtnsContainer{
    display: flex;
    justify-content: space-around;
}

.roomContainer{
    border: 1px solid var(--txt-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}